﻿@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="~/css/ipack.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="@Accelist.BlazorRAD.ScriptUris.CSS" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/js/ipack.dll.js" asp-append-version="true"></script>
    <script src="~/js/ipack.js" asp-append-version="true"></script>
    <script src="@Accelist.BlazorRAD.ScriptUris.JS"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
